<div class="starting-test-container">
  <h1>Leia com Atenção</h1>
  <p>
    O teste é composto por 30 questões, e em cada uma delas haverá 4 atributos. Você deverá escolher sempre aquele que melhor lhe descreve como pessoa. Lembre-se de que não há respostas erradas nem corretas a acertividade do teste depende exclusivamente de sua sinceridade nas respostas.
    <br/>
    <br/>
    O tempo estimado para o término do teste é de 10min. 
  </p>

  <app-button height="74px" width="233px" label="Continuar" (clicked)="redirect()"></app-button>
  <a href="/"> < Voltar</a>
</div>