<div class="homeContainer">
  <div class="header">
    <h1>Faça seu teste D.I.S.C. agora!</h1>
    <app-button></app-button>
  </div>
  <div class="body">
    <h2>O que é o teste DISC?</h2>
    <p>
      O teste de personalidade DISC é uma ferramenta de avaliação que categoriza os comportamentos das pessoas em quatro estilos principais: Dominância (D), Influência (I), Estabilidade (S) e Conformidade (C). Ele é dotado de 30 perguntas objetivas com tempo estimado de 10min para concluíl-lo
    </p>
    <h2>Porque fazer o teste?</h2>
    <p>
      O teste é importante especialmente no contexto proficional ele classifica a pessoa em um dos 4 estilos de personalidade e são frequentemente usados para melhorar a comunicação, o trabalho em equipe e para traçar perfis de fit cultural.
    </p>
  </div>
</div>
