<div class="conscientiousness-container">
  <h1>Conformidade</h1>
  <p>
    O perfil de Conformidade (representado pela letra "C" no teste DISC) é caracterizado por uma abordagem meticulosa e analítica, focada na precisão e no cumprimento de regras. Pessoas com alta Conformidade tendem a ser organizadas, detalhistas e têm uma forte preferência por ambientes estruturados e orientados por padrões.
  </p>
  <h2>Características do Perfil de Conformidade:</h2>
  <ul>
    <li>
      <span>Atenção aos Detalhes:</span> São extremamente precisos e minuciosos em seu trabalho, assegurando que tudo seja feito com exatidão.
    </li>
    <li>
      <span>Organização:</span> Valorizam a ordem e preferem seguir processos claros e definidos.
    </li>
    <li>
      <span>Análise Crítica:</span> Gostam de trabalhar com dados e fatos, tomando decisões embasadas em lógica e análise objetiva.
    </li>
    <li>
      <span>Respeito às Regras:</span> Preferem seguir normas estabelecidas e têm grande respeito por regulamentos e procedimentos.
    </li>
    <li>
      <span>Perfeccionismo:</span> Estão sempre buscando melhorar e aperfeiçoar seu trabalho.
    </li>
  </ul>
  <h2>Pontos de Atenção:</h2>
  <ul>
    <li>
      <span>Excesso de Criticismo:</span> Podem ser críticos com o próprio trabalho e o dos outros, buscando a perfeição.
    </li>
    <li>
      <span>Resistência à Flexibilidade:</span> Tendem a resistir a mudanças rápidas ou decisões baseadas em intuição, preferindo seguir procedimentos predefinidos.
    </li>
    <li>
      <span>Procrastinação:</span> O perfeccionismo pode levá-los a demorar mais do que o necessário em tarefas, buscando sempre o melhor resultado possível.
    </li>
  </ul>
  <h2>Aplicações do Perfil de Conformidade:</h2>
  <ul>
    <li>
      <span>Áreas Técnicas e Analíticas:</span> São ideais para funções que requerem precisão e atenção aos detalhes, como engenharia, auditoria, contabilidade e TI.
    </li>
    <li>
      <span>Qualidade e Controle de Processos:</span> Excelentes em papéis que exigem aderência a normas e padrões rigorosos.
    </li>
    <li>
      <span>Pesquisa e Desenvolvimento:</span> Adequados para funções que envolvem investigação e análise crítica de dados e informações.
    </li>
  </ul>
</div>
