<div class="test-container">
  <app-flash-message
    [message]="message"
    [showMessage]="showMsg"
  ></app-flash-message>
  <h1>
    Clique na opção que
    <br />
    <span>melhor</span> lhe descreve!
  </h1>
  <div class="options">
    <app-button
      width="160px"
      height="80px"
      font="16pt"
      label="{{ option1 }}"
      [selected]="selection1"
      (clicked)="handleOption('A')"
    ></app-button>
    <app-button
      width="160px"
      height="80px"
      font="16pt"
      label="{{ option2 }}"
      [selected]="selection2"
      (clicked)="handleOption('B')"
    ></app-button>
    <app-button
      width="160px"
      height="80px"
      font="16pt"
      label="{{ option3 }}"
      [selected]="selection3"
      (clicked)="handleOption('C')"
    ></app-button>
    <app-button
      width="160px"
      height="80px"
      font="16pt"
      label="{{ option4 }}"
      [selected]="selection4"
      (clicked)="handleOption('D')"
    ></app-button>
  </div>
  <div class="progress">
    <app-button
      width="130px"
      height="60px"
      font="16pt"
      label="Próximo"
      (clicked)="nextBlock()"
      *ngIf="questionBlock < 28"
    ></app-button>
    <app-button
      width="130px"
      height="60px"
      font="16pt"
      label="Concluir"
      (clicked)="showResult()"
      *ngIf="questionBlock == 28"
    ></app-button>
    <p>{{ questionBlock }}/28</p>
    <app-progress-bar [progress]="progressBar"></app-progress-bar>
    <p>Progresso</p>
    <a href="/" *ngIf="questionBlock < 28">Sair</a>
  </div>
</div>
