<div class="influence-container">
  <h1>Influência</h1>
  <p>
    O perfil de Influência (representado pela letra "I" no teste DISC) é caracterizado por uma abordagem entusiasmada e comunicativa nas interações. Pessoas com um alto nível de Influência tendem a ser extrovertidas, otimistas e carismáticas. Elas se destacam em motivar e persuadir os outros, sempre buscando inspirar com sua energia.
  </p>
  <h2>Características do Perfil de Influência:</h2>
  <ul>
    <li>
      <span>Comunicatividade:</span> Gostam de interagir com os outros e se expressam de maneira aberta e entusiástica.
    </li>
    <li>
      <span>Comunicatividade:</span> Gostam de interagir com os outros e se expressam de maneira aberta e entusiástica.
    </li>
    <li>
      <span>Otimismo:</span> Mantêm uma visão positiva e tendem a ver o lado bom das situações, o que as torna motivadoras.
    </li>
    <li>
      <span>Persuasão:</span> Excelentes em influenciar os outros e em vender ideias, criando conexões fortes com as pessoas.
    </li>
    <li>
      <span>Espírito de Equipe:</span> Valorizam o trabalho em equipe e promovem ambientes colaborativos.
    </li>
    <li>
      <span>Entusiasmo:</span> Abordam os desafios com entusiasmo e são capazes de contagiar os outros com sua energia.
    </li>
  </ul>
  <h2>Pontos de Atenção:</h2>
  <ul>
    <li>
      <span>Desorganização:</span> Podem ter dificuldade em lidar com detalhes e organização, preferindo um estilo mais dinâmico e improvisado.
    </li>
    <li>
      <span>Necessidade de Aprovação:</span> Buscam constantemente reconhecimento e podem evitar conflitos para manter a harmonia social.
    </li>
    <li>
      <span>Procrastinação:</span> O excesso de otimismo pode levá-los a subestimar o tempo necessário para completar tarefas.
    </li>
  </ul>
  <h2>Aplicações do Perfil de Influência:</h2>
  <ul>
    <li>
      <span>Vendas e Marketing:</span> São ideais para papéis que exigem persuasão e construção de relacionamentos com clientes.
    </li>
    <li>
      <span>Liderança em Equipes:</span> Excelentes em motivar equipes e criar um ambiente de trabalho positivo e colaborativo.
    </li>
    <li>
      <span>Relações Públicas:</span> Funcionam bem em papéis que demandam habilidades sociais e comunicação eficaz.
    </li>
  </ul>
</div>