.dominance-container{
  padding: 1rem;

  p {
    text-align: justify;
  }

  ul {
    margin: 1rem 0 1rem 1rem;

    li {
      text-align: justify;

      span {
        font-weight: 600;
      }
    }
  }
}