*{
  font-family: "Red Hat Text", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

// .red-hat-text-<uniquifier> {
  
//   font-optical-sizing: auto;
//   font-weight: <weight>;
//   font-style: normal;
// }


//PALETA DE CORES PARA PROJETO
//BASEADO EM NOITE ESTRELADA DE VAN GOGH
.paleta_de_cores{
  color: #d88300;
  color: #f7f39c;
  color: #29abc5;
  color: #012853;
  color: #200808;
}